.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  align-self: baseline;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
 }

.khan__buy-link:hover {
  opacity: 0.2;
}
